<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="hikariConfig" class="com.zaxxer.hikari.HikariConfig">
        <property name="maximumPoolSize" value="20"/>
        <property name="password" value="micron20014"/>
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="username" value="postgres"/>
        <property name="jdbcUrl" value="jdbc:postgresql://localhost:5432/JDBC_Work"/>
    </bean>

    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource">
        <constructor-arg name="configuration" ref="hikariConfig"/>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
        <constructor-arg name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="usersRepository" class="ru.itis.rasimusv.repositories.UsersRepositoryJdbcTemplateImpl">
        <constructor-arg name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>

    <bean id="usersService" class="ru.itis.rasimusv.services.UsersServiceImpl">
        <constructor-arg name="usersRepository" ref="usersRepository"/>
    </bean>

    <bean id="studentsRepository" class="ru.itis.rasimusv.repositories.StudentsRepositoryJdbcTemplateImpl">
        <constructor-arg name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>

    <bean id="studentsService" class="ru.itis.rasimusv.services.StudentsServiceImpl">
        <constructor-arg name="studentsRepository" ref="studentsRepository"/>
    </bean>

    <bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>
</beans>
